@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #036666;
  --primary-light: #2ed0bf;
  --secondary: #fbfbf2;
  --accent-primary: #c3a621;
  --accent-secondary: #fe803f;
  --destructive: #ec7872;

  --chart-red: #e2372f;
  --chart-blue: #44a6e9;
  --chart-orange: #ff8548;
  --chart-yellow: #ffc701;
  --chart-cyan: #14cab9;
}
